@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-coral-900: #b12424;
    --color-coral-800: #be2730;
    --color-coral-700: #ca2a36;
    --color-coral-600: #db343d;
    --color-coral-500: #ef5466;
    --color-coral-400: #e45156;
    --color-coral-300: #db7176;
    --color-coral-200: #e7999c;
    --color-coral-100: #f7ccd3;
    --color-dark-grey-900: #121216;
    --color-dark-grey-800: #191919;
    --color-dark-grey-700: #191922;
    --color-dark-grey-600: #23232d;
    --color-dark-grey-500: #32323d;
    --color-dark-grey-400: #42424c;
    --color-dark-grey-300: #52525d;
    --color-dark-grey-200: #60606c;
    --color-green-900: #008a1a;
    --color-green-800: #009927;
    --color-green-700: #00a22f;
    --color-green-600: #00ab37;
    --color-green-500: #00b23d;
    --color-green-400: #26be5a;
    --color-green-300: #4dc977;
    --color-green-200: #80d99e;
    --color-green-100: #b3e8c5;
    --color-green-50: #e0f6e8;
    --color-light-grey-900: #72727d;
    --color-light-grey-800: #92929d;
    --color-light-grey-700: #a2a2ad;
    --color-light-grey-600: #bebec7;
    --color-light-grey-500: #d1d1d6;
    --color-light-grey-400: #dfdfe0;
    --color-light-grey-300: #eaeaea;
    --color-light-grey-200: #f2f2f2;
    --color-light-grey-100: #f4f4f4;
    --color-light-grey-50: #f8f8f9;
    --color-red-900: #ca1a1a;
    --color-red-800: #d22727;
    --color-red-700: #d72e2e;
    --color-red-600: #db3636;
    --color-red-500: #df3c3c;
    --color-red-400: #e45959;
    --color-red-300: #e97777;
    --color-red-200: #ef9e9e;
    --color-red-100: #f5c5c5;
    --color-red-50: #fbe8e8;
    --color-white: #fff;
    --color-black: #000;
    --color-success: #00b23d;
    --bg-color: #2D96C8;
    --bg-color-hover: #063b53;
}


.navBar {
    background: #FFFFFF;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

nav .logo {
    width: 135px;
    height: 50px;
    cursor: pointer;
}

.toggle {
    display: none;
}

.navBar .nav-links li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

.navBar .nav-links li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.navBar .nav-links li a:hover {
    color: var(--color-coral-600);
    transition: .3s;
}

.navBar .nav-links li .btn-1 {
    padding: 10px 25px;
    border-radius: 30px;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    font-size: 15px;
    cursor: pointer;
}

.navBar .nav-links li .btn-1:hover {
    color: var(--bg-color-hover);
    transition: .3s;
}

.navBar .nav-links li .btn-2 {
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--bg-color);
    color: var(--color-white);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.navBar .nav-links li .btn-2:hover {
    color: var(--color-light-grey-400);
    transition: .3s;
    background: var(--bg-color-hover);
}

@media screen and (max-width : 800px) {
    .toggle {
        position: relative;
        display: block;
        cursor: pointer;
        font-size: 2rem;
        z-index: 20;
        color: var(--color-black);
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .ferme {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .ferme {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
        background-color: var(--color-light-grey-300);
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .navBar .nav-links {
        font-size: 1.2rem;
    }

    .open .nav-links {
        margin-left: 0;
    }

}