@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-coral-900: #b12424;
    --color-coral-800: #be2730;
    --color-coral-700: #ca2a36;
    --color-coral-600: #db343d;
    --color-coral-500: #ef5466;
    --color-coral-400: #e45156;
    --color-coral-300: #db7176;
    --color-coral-200: #e7999c;
    --color-coral-100: #f7ccd3;
    --color-dark-grey-900: #121216;
    --color-dark-grey-800: #191919;
    --color-dark-grey-700: #191922;
    --color-dark-grey-600: #23232d;
    --color-dark-grey-500: #32323d;
    --color-dark-grey-400: #42424c;
    --color-dark-grey-300: #52525d;
    --color-dark-grey-200: #60606c;
    --color-light-grey-900: #72727d;
    --color-light-grey-800: #92929d;
    --color-light-grey-700: #a2a2ad;
    --color-light-grey-600: #bebec7;
    --color-light-grey-500: #d1d1d6;
    --color-light-grey-400: #dfdfe0;
    --color-light-grey-300: #eaeaea;
    --color-light-grey-200: #f2f2f2;
    --color-light-grey-100: #f4f4f4;
    --color-light-grey-50: #f8f8f9;
    --color-red-900: #ca1a1a;
    --color-red-800: #d22727;
    --color-red-700: #d72e2e;
    --color-red-600: #db3636;
    --color-red-500: #df3c3c;
    --color-red-400: #e45959;
    --color-red-300: #e97777;
    --color-red-200: #ef9e9e;
    --color-red-100: #f5c5c5;
    --color-red-50: #fbe8e8;
    --color-white: #fff;
    --color-black: #000;
    --color-success: #00b23d;
    --bg-color: #2D96C8;
    --bg-color-hover: #063b53;
}


.heading-2 {
    color: var(--color-black);
    font-size: 70px;
    line-height: 70px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}




/**************************** NavBar *******************************/
.navBar {
    background: #FFFFFF;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

nav .logo {
    width: 135px;
    height: 50px;
    cursor: pointer;
}

.toggle {
    display: none;
}

.navBar .nav-links li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

.navBar .nav-links li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.navBar .nav-links li a:hover {
    color: var(--color-coral-600);
    transition: .3s;
}

.navBar .nav-links li .btn-1 {
    padding: 10px 25px;
    border-radius: 30px;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    font-size: 15px;
    cursor: pointer;
}

.navBar .nav-links li .btn-1:hover {
    color: var(--bg-color-hover);
    transition: .3s;
}

.navBar .nav-links li .btn-2 {
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--bg-color);
    color: var(--color-white);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.navBar .nav-links li .btn-2:hover {
    color: var(--color-light-grey-400);
    transition: .3s;
    background: var(--bg-color-hover);
}

@media screen and (max-width : 800px) {
    .toggle {
        position: relative;
        display: block;
        cursor: pointer;
        font-size: 2rem;
        z-index: 20;
        color: var(--color-black);
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .ferme {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .ferme {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
        background-color: var(--color-light-grey-300);
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .navBar .nav-links {
        font-size: 1.2rem;
    }

    .open .nav-links {
        margin-left: 0;
    }

}

header {
    height: 68vh;
    width: 100%;
    background-color: var(--color-black);
}

.contanier-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    height: 70vh;
}

.contanier-hero .content-hero {
    width: 800px;
}

.content-hero .heading-1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 40px;
    margin-bottom: 20px;
    color: var(--color-white);
}

.content-hero .heading-2 {
    color: var(--color-white);
    font-size: 70px;
    line-height: 70px;
    width: 100%;
    text-align: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 35px;
}

.search-bar input {
    background: transparent;
    flex: 2;
    padding: 24px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

.search-bar .search {
    width: 25px;
    height: 20px;
    border-radius: 50px;
    padding: 30px;
    text-align: center;
    color: var(--color-red-50);
    cursor: pointer;
    background-color: var(--color-coral-900);
}

/**************************** main *******************************/


.container-image {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-image {
    background: url(./assets/image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}


/**************************** feature-info *******************************/

#feature-info {
    width: 100%;
    height: auto;
    border-top: 1px dashed #000;
}

.feature-title {
    color: var(--color-black);
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1;
    line-height: 80px;
    margin: 0 0 90px;
    padding: 0 220px;
    text-align: center;
}

.container-info {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 15px;
    padding: 50px 0 100px;
}

.content-info {
    margin-top: 20px;
    margin: 25px;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-info .feature-sous-title {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.container-info p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    width: 350px;
    margin: 0 auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 32px;
    -webkit-box-shadow: 0 2px 12px rgb(0 0 0 / 14%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 14%);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 56px;
}

@media only screen and (min-width: 1024px) and (max-width: 1223px) {
    .container-info {
        width: 990px;
    }
}

@media only screen and (max-width: 767px) {

    .container-info {
        width: 100%;
    }

    .feature-title {
        margin-bottom: 30px;
        padding: 0;
        width: 100%;
        font-size: 40px;
        line-height: 40px;
    }
}


/**************************** container-striks *******************************/
.container-striks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.container-striks .heading-2 {
    color: var(--color-black);
    font-size: 70px;
    line-height: 70px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.container-striks p {
    width: 70%;
    text-align: center;
    line-height: 24px;
    letter-spacing: -1;
    margin: 0px 0px 40px;
    padding: 0px 200px;
}

.tracks-image {
    background: url(./assets/imgae-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    margin: 0 auto;
    width: 80%;
}


/**************************** container-playlists *******************************/


.container-playlists {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-playlists p {
    width: 70%;
    text-align: center;
    line-height: 24px;
    letter-spacing: -1;
    margin: 0px 0px 40px;
    padding: 0px 200px;
}

/**************************** container-card *******************************/


.container-card {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
    width: 1190px;
}

.content-card {
    width: 245px;
    height: 356px;
}

.content-card img {
    box-shadow: 0 0 20px #d2d2d2;
    width: 245px;
    height: 245px;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 20px #D2D2D2);
}

.content-card .card-text {
    line-height: 22px;
    font-size: 16px;
    width: 245px;
    height: 150px;
    text-align: center;
}


/**************************** container-catcher *******************************/


.container-catcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.container-catcher p  {
    width: 70%;
    text-align: center;
    line-height: 24px;
    letter-spacing: -1;
    margin: 0px 0px 40px;
    padding: 0px 200px;
}

.catcher-image {
    background: url(./assets/image-catcher.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
}